<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.snakex.pro">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ClassicSnake"
            android:label="@string/title_activity_classic_snake"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".NoWallsSnake"
            android:label="@string/title_activity_no_walls_snake"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".OneMoreSnake"
            android:label="@string/title_activity_bomb_snake"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <receiver android:name=".SendRec"/>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ClassicScore"
            android:label="@string/title_activity_classic_score"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".NoWallsScore"
            android:label="@string/title_activity_no_walls_score"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".HardWinActivity"
            android:label="@string/title_activity_bomb_score"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>